.day-cell {
  position: relative;
  transform: scale(1);
  background-color: #475569;
  transition: transform 0.5s ease-in-out;
  /* outline: 1px solid #06b6d4; */
  outline: 1px solid #667072;

}

.day-cell:hover {
  transform: perspective(900px) scale(1.05);
  transition: transform 0.25s ease-in-out;
  background-color: #475569;
  outline: 1px solid #cccfcf;
  outline-offset: -1px;
  cursor: pointer;
  z-index: 30;
  border-radius: 1px;
}
.day-cell-row:first-child {
  /* background-color: #3d4b5f; */
  background-color: #343e4e;
}
.current {
  /* background-color: #424e5f; */
  background-color: #243044;
}

.not-current {
  background-color: #36383a;
  filter: grayscale(50%) brightness(60%);
  /* opacity: 0.6; */
}
.week-end {
  /* background-color: #434549; */
  background-color: #31415c;
}
