.day-cell {
  position: relative;
  transform: scale(1);
  background-color: #475569;
  transition: transform 0.5s ease-in-out;
  outline: 1px solid #667072;
  outline: 1px solid #06b6d4;
  outline: 1px solid #66898f;
}
.passed {
  filter: grayscale(50%);
  /* filter: blur(0.3px); */
  filter: brightness(75%);
}

.day-cell:hover {
  transform: perspective(900px) scale(1.05);
  transition: transform 0.25s ease-in-out;
  background-color: #475569;
  outline: 1px solid #cccfcf;
  outline-offset: -1px;
  cursor: pointer;
  z-index: 32;
  border-radius: 1px;
}
.day-cell-row:first-child {
  background-color: #282f3b;
  background-color: #2c3138;
}
.current {
  background-color: #243044;
  background-color: #36383a;
  background-color: #3e444e;
  z-index: 30;
}

.not-current {
  background-color: #36383a;
  background-color: #36383a;
  filter: grayscale(70%) brightness(40%);
  opacity: 0.7;
  z-index: 29;
}
.week-end {
  background-color: #3e444e;
  background-color: #36383a;
}

.today {
  outline: 2px solid red;
  z-index: 31;
}
