.day {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 400px;
  /* border: 2px solid red; */
  backdrop-filter: invert(80%);
  backdrop-filter: sepia(60%);
  backdrop-filter: blur(10px);
  transform: translateX(-50%);
  color: aliceblue;
}
